body {
  font-family: Arial, sans-serif;
  background: #fafafa;
  text-align: center;
  padding: 20px;
}

.place-card {
  color: #fff;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  display: inline-block;
  width: 250px;
}
